@inherits LayoutComponentBase
@inject AuthenticationStateProvider auth
@inject NavigationManager nav 
@using Tarea9_10.Data


<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Iglesia Gilberto</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Lista
            </NavLink>
        </li>
        <AuthorizeView>
            <Authorized>              
                <li class="nav-item px-3">
                    <NavLink class="nav-link" @onclick="@Logout" href="/inicio"  Match="NavLinkMatch.All">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Log Out
                    </NavLink>
                </li>
            </Authorized>
            <NotAuthorized>
               
            </NotAuthorized>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    public void Logout()
    {
        ((Authorize)auth).Deslogueado();
        //nav.NavigateTo("/");
    }
}

